<%unless most_voted_article.nil?%>
<h1><%=most_voted_article.title%></h1>
<div style="width:400px; height: auto;">
<%= image_tag(most_voted_article.image, style:"width:100%") if most_voted_article.image.attached?%>
</div>
<%end%>
<%@categories.each do |category|%>
<p><%=category.name%><p>
<% most_recent_article = recent_article_by_category(category.id)%>
<%unless most_recent_article.nil?%>
<h4><%most_recent_article.title%></h4>
<div style="width:400px; height: auto;">
<%= image_tag(most_recent_article.image, style:"width:100%") if most_recent_article.image.attached?%>
</div>
<%end%>
<%end%>
