<table>
<tr>
    <th>Article</th>
    <th>Watch</th>
</tr>
<%@articles.each do |article|%>
<tr>
<td><%=article.title%></td>
<td><%= link_to "watch", "/show_article?id=#{article.id}" %></td>
</tr>
<%end%>
</table>
<% if current_user %>
  <%= link_to "Add article", '/add_article' %>
<% end %>