<h1><%=@article.title%></h1>
<div style="width:400px; height: auto;">
<%= image_tag(@article.image, style:"width:100%") if @article.image.attached?%>
</div>
<p><%=@article.text%></p>

<table>
<tr>
    <th>categories</th>
</tr>
<%@article.categories.each do |category|%>
<tr>
<td>
<%=category.name%>
</td>
</tr>
<%end%>
</table>
